body {
    font-family: sans-serif;
    color: #3d4e5e;
}
h1 {
    font-size: 24px;
    color: #3d4e5e;
}
a {
    color: #3d4e5e;
}
a:hover {
    color: #9ea5ae;
}
h2 {
    font-size: 16px;
    color: #3d4e5e;
}
h3 {
    font-size: 20px;
    color: #3d4e5e;
}
p {
    font-size: 18px;
    color: #3d4e5e;
}
