body {
    font-family: sans-serif;
    color: #3d4e5e;
}
h1 {
    font-size: 24px;
    color: #2596be;
}

h2 {
    font-size: 22px;
    color: #2596be;
}
h3 {
    font-size: 20px;
    color: #2596be;
}
p {
    font-size: 18px;
    color: #2596be;
}
.navbar {
    overflow: hidden;
    background-color: #2596be;
    top: 0;
    width: 100;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color:#3d4e5e;
    color: #f2f2f2;
}
.navbar a:active{
    background-color:#3d4e5e;
    color: #f2f2f2;
}
footer{
    background-color: #2596be;
    padding: 50px 0; 
    color: #f2f2f2;
}
.footerContainer{
    margin: auto;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap-reverse;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#content{
    color:#000000;
}
#specialContent{
    color:#000000;
    font-style: italic;
}
#centerWord{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
